<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
	<key>CFBundleName</key>
		<string>Scrapp</string>
	<key>CFBundleExecutable</key>
		<string>program</string>
	<key>CFBundleIconFile</key>
		<string>Scr.icns</string>
	<key>CFBundleIdentifier</key>
		<string>dev.mckayla.scr</string>
	<key>CFBundleGetInfoString</key>
		<string>1.0.0.0 © 2023 McKayla Washburn</string>
	<key>CFBundleShortVersionString</key>
		<string>1.0.0.0</string>
	<key>CFBundlePackageType</key>
		<string>APPL</string>
	<key>CFBundleShortVersionString</key>
		<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
		<array>
			<string>MacOSX</string>
		</array>
	<key>CFBundleVersion</key>
		<string>1</string>
	<key>DTPlatformName</key>
		<string>macosx</string>
	<key>DTPlatformVersion</key>
		<string>13.3</string>
	<key>LSMinimumSystemVersion</key>
		<string>13.3</string>
</dict>
</plist>
